In [4]:
import pandas as pd
import numpy as np

In [5]:
path = "/data/user/fbontempo/corsikaMuons/proton/22335/"
file = "4.4_DataFrame.hdf5"

df = pd.read_hdf(path + file)

In [6]:
df

      primary        energy    zenith   azimuth  total_muons  muons_above_Ecut
0      2212.0  25700.554688  0.782057  2.462606          243                 1
1      2212.0  26581.257812  0.402125  5.644036          521                 2
2      2212.0  30556.353516  0.456325  1.955171          551                 1
3      2212.0  30568.478516  0.435722  4.307096          547                 3
4      2212.0  29701.130859  0.741137  2.315413          572                 1
...       ...           ...       ...       ...          ...               ...
2995   2212.0  29655.064453  0.209069  2.522856          913                 3
2996   2212.0  26712.236328  0.399978  0.304942          467                 3
2997   2212.0  26950.300781  0.676045  5.862600          583                 0
2998   2212.0  27444.806641  0.702878  0.962325          234                 4
2999   2212.0  26281.673828  0.816197  2.231239          330                 2

[3000 rows x 6 columns]

In [7]:
np.sum(df["total_muons"])

1240329

In [8]:
np.sum(df["muons_above_Ecut"])

6268